<launch>
    <arg name="cmd_vel_topic" default="cmd_vel" />
    <arg name="joy_vel_topic" default="joy_vel" />
    <arg name="nav_vel_topic" default="nav_vel" />
    <node pkg="teleop_keyboard" type="teleop_keyboard" name="teleop_keyboard" output="screen">
        <param name="topic_name" value="$(arg joy_vel_topic)" />
        <param name="sub_topic_name" value="$(arg nav_vel_topic)" />
        <param name="mux" value="false" />
        <param name="speed" value="0.1" />
        <param name="turn" value="0.25" />
        <param name="vacc" value="0.1" />
        <param name="wacc" value="0.1" />
    </node>

    <!-- <node pkg="topic_tools" type="mux" name="mux" args= "$(arg cmd_vel_topic) $(arg joy_vel_topic) $(arg nav_vel_topic)"/> -->
</launch>