<launch>
    <arg name="cmd_vel_topic" default="cmd_vel" />
        <group ns="c4r01">
            <node pkg="teleop_keyboard" type="teleop_keyboard" name="teleop_keyboard" output="screen">
                <param name="topic_name" value="$(arg cmd_vel_topic)" />
                <param name="speed" value="0.1" />
                <param name="turn" value="0.25" />
                <param name="vacc" value="0.1" />
                <param name="wacc" value="0.1" />
            </node>
        </group>
</launch>